<html>
    <head>
        <title>다단 스타일</title>
        <style>
            .wrap {
                border : 1px solid black;
                height : 300px;
            }

            .column1 {
                column-width : 300px;
                column-gap : 50px;
                overflow : scroll; /* 넘치는 내용은 스크롤로 표현하겠다. */
            }

            .column2 {
                column-count : 3;
                column-rule-style : dashed;
                overflow : scroll;
            }
        </style>
    </head>
    <body>
        <h1>다단 스타일</h1>
        <pre>
            column-width : 한 단의 가로 길이
            column-gap : 각 단의 넓이
            column-rule-style : 각 단의 구분자 모양
            column-count : 필요한 단의 수
        </pre>

        <hr>

        <h3>다단 스타일 작성하기 1</h3>
        <div class="wrap column1">
            
            저작자·발명가·과학기술자와 예술가의 권리는 법률로써 보호한다. 대한민국의 영토는 한반도와 그 부속도서로 한다. 통신·방송의 시설기준과 신문의 기능을 보장하기 위하여 필요한 사항은 법률로 정한다.

            대한민국의 주권은 국민에게 있고, 모든 권력은 국민으로부터 나온다. 국회에서 의결된 법률안은 정부에 이송되어 15일 이내에 대통령이 공포한다. 국회의원의 수는 법률로 정하되, 200인 이상으로 한다.
            
            선거에 있어서 최고득표자가 2인 이상인 때에는 국회의 재적의원 과반수가 출석한 공개회의에서 다수표를 얻은 자를 당선자로 한다. 국민경제의 발전을 위한 중요정책의 수립에 관하여 대통령의 자문에 응하기 위하여 국민경제자문회의를 둘 수 있다.
            
            공개하지 아니한 회의내용의 공표에 관하여는 법률이 정하는 바에 의한다. 모든 국민은 직업선택의 자유를 가진다. 국채를 모집하거나 예산외에 국가의 부담이 될 계약을 체결하려 할 때에는 정부는 미리 국회의 의결을 얻어야 한다.
        </div>

        <h3>다단 스타일 작성하기 2 - 고정 다단 스타일 - </h3>
        <div class="wrap column2">
            저작자·발명가·과학기술자와 예술가의 권리는 법률로써 보호한다. 대한민국의 영토는 한반도와 그 부속도서로 한다. 통신·방송의 시설기준과 신문의 기능을 보장하기 위하여 필요한 사항은 법률로 정한다.

            대한민국의 주권은 국민에게 있고, 모든 권력은 국민으로부터 나온다. 국회에서 의결된 법률안은 정부에 이송되어 15일 이내에 대통령이 공포한다. 국회의원의 수는 법률로 정하되, 200인 이상으로 한다.
            
            선거에 있어서 최고득표자가 2인 이상인 때에는 국회의 재적의원 과반수가 출석한 공개회의에서 다수표를 얻은 자를 당선자로 한다. 국민경제의 발전을 위한 중요정책의 수립에 관하여 대통령의 자문에 응하기 위하여 국민경제자문회의를 둘 수 있다.
            
            공개하지 아니한 회의내용의 공표에 관하여는 법률이 정하는 바에 의한다. 모든 국민은 직업선택의 자유를 가진다. 국채를 모집하거나 예산외에 국가의 부담이 될 계약을 체결하려 할 때에는 정부는 미리 국회의 의결을 얻어야 한다.
        </div>
    </body>
</html>