<h1>자바(JAVA)프레임워크 개발자 양성과정 학습내용</h1>

<h3>담당교사 : 유정훈</h3>

<h3>수강생 명 : 홍길동</h3>
<hr>

<ul>
    <li>
        프로그래밍 언어
        <ul>
            <li><s>java</s></li>
        </ul>
    </li>
    <li>
        데이터베이스
        <ul>
            <li><s>Oracle</s></li>
        </ul>
    </li>
    <li>
        화면구현
        <ol>
            <li><mark>HTML5</mark></li>
            <li>CSS5</li>
            <li>JavaScript</li>
            <li>JQuery</li>
        </ol>
    </li>
    <li>
        서버 개발 기술
        <ol type="i">
            <li><s>JDBC</s></li>
            <li>Servlet</li>
            <li>JSP</li>
            <li>AJAX</li>
        </ol>
    </li>
    <li>
        프레임워크
        <ol type="a">
            <li><Strong>Spring</Strong></li>
            <li>MyBatis</li>
        </ol>
    </li>
    
</ul>
<br><a href="index.html">목록으로</a>