<html>
    <head>
        <title>
            html 종합 실습 문제
        </title>
    </head>
    <body>
        <form action="">
        <label for="">고객명 : </label> <input type="text" name="" id=""><br><br>
        <label for="">전화번호 : </label> <input type="text" name="" id=""><br><br>
        <label for="">E-mail : </label> <input type="text" name="" id=""><br><br>

        <fieldset>
            <legend>피자사이즈</legend>
            <input type="radio" name="pizza" id="size1" value="small"> Small <br><br>
            <input type="radio" name="pizza" id="size2" value="medium"> Medium <br><br>
            <input type="radio" name="pizza" id="size3" value="large"> Large <br><br>
        </fieldset>
        <fieldset>
            <legend>토핑 선택</legend>
            <input type="checkbox" name="top" id="top1">  
            <label for="top1">베이컨</label><br><br>
            <input type="checkbox" name="top" id="top2">
            <label for="top2">치즈</label><br><br>
            <input type="checkbox" name="top" id="top3">
            <label for="top3">양파</label><br><br>
            <input type="checkbox" name="top" id="top4">
            <label for="top4">버섯</label><br><br>
        </fieldset>

        <label for="">희망 배송시간 : </label>
        <input type="time" name="" id="">

        <br><br>

        <label for="">배송시 요청사항 : </label>
        <textarea name="" id="" cols="15" rows="5"></textarea>

        <br><br>
        <input type="submit" value="주문하기">
        </form> 
    </body>
</html>