<html>
    <head>
        <title>
            HTML 종합 실습 문제2
        </title>
    </head>
    <body>
        <form action="">
        <fieldset>
            <legend>납품자 정보</legend>
            <ol>
                <li>
                    <label for="">납품자명 : </label>
                    <input type="text" placeholder="name">
                </li>
                <br>
                <li>
                    <label for="">email : </label>
                    <input type="email" placeholder="answs@naver.com">
                </li>
                <br>
                <li>
                    <label for="">홈페이지 : </label>
                    <input type="url" placeholder="http://">
                </li>
            </ol>
        </fieldset>
                
        <fieldset>
            <legend>납품 정보</legend>
            <ul>
                <li>
                    <label for="">상품명 : </label>
                    <input type="text" name="" id="">
                </li>
                <br>
                <li>
                    <label for="">납품수량 : </label>
                    <input type="text" name="" id="" placeholder="최소100">
                </li>
                <br>
                <li>
                    <label for="">납품등급 : </label>
                    <input type="range" max="10" min="0" step="2">
                </li>
                <br>
                <li>
                    <label for="">기타사항 : </label>
                    <textarea name="" id="" cols="20" rows="3"></textarea>
                </li>
            </ul>
        </fieldset>

        <br>
        <input type="submit" value="send message">
        </form>
    </body>
</html>